@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import 'tailwindcss';

@theme{
	--color-primary-black: #373e46;
	--color-dark-gray: #747474;
	--color-primary-white: #fff;
	--color-background-white: #f1f1f1;
	--color-line-gray: #e6e6e6;
	--color-primary-red: #621f2a;
	--color-secondary-red: #822736;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-jost: "Jost", sans-serif;
	--font-comfortaa: "Comfortaa", sans-serif;
}